body {
  font-family: "Trip Sans Regular";
}

.container {
  max-width: 1140px;
  margin: 0 auto;
  background-color: lightsteelblue;
}

header {
  display: flex;
  justify-content: space-between;
}

header img {
  width: 200px;
}

.primary-nav {
  display: flex;
  align-items: center;
  gap: 15px;
  font-family: "Trip Sans Medium";
}
.menu-item img {
  background-color: #ff5d5d;
  height: 20px;
  width: 20px;
}
.primary-nav .menu-item {
  /* background: red; */
  padding: 15px;
}

.primary-nav button {
  font-size: 14px;

  background: black;
  color: white;
  padding: 15px;
  border-radius: 20px;
  cursor: pointer;
  border: none;
}

h1 {
  margin-top: 25px;
  font-size: 54px;
  font-family: "Trip Sans Medium";
}

h1 span {
  color: #ff5d5d;
}
.titleunderexplore {
  font-size: 14px;
  color: #414141;
  margin-top: 15px;
  display: flex;
  background-color: azure;
}
h3 {
  background-color: antiquewhite;
}
.titleunderexplore .learnmore {
  background-color: aliceblue;
  color: #414141;
  text-decoration: underline;
}
.learmore:hover {
  text-decoration: underline;
}
.learmore h3:visited {
  text-decoration: none;
}
.secondary-nav {
  background-color: azure;
  display: flex;
  margin-top: 20px;
  gap: 10px;
  flex-wrap: wrap;
}

.secondary-nav p {
  min-width: 140px;
  max-width: 160px;
  background-color: blanchedalmond;
  flex: 1;
  height: 35px;
  padding: 15px;
  border-radius: 10px;
  border: 1px solid black;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  align-items: top;
  gap: 10px;
}
.secondary-nav p img {
  max-width: 60%;
  max-height: 60%;
}
.secondary-nav p:hover {
  background-color: black;
  color: white;
}
.images {
  /* background: salmon; */
  margin-top: 20px;
  height: 400px;
  display: flex;
  gap: 2px;
}

.images .left {
  flex: 4;
  /* background: blue; */
  background-image: url("../img/caption1.jpg");
}

.images .right {
  flex: 3;
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.images .right-top {
  /* background: green; */
  background-image: url("../img/caption2.jpg");
  flex: 1;
}

.images .right-bottom {
  /* background: yellow; */
  background-image: url("../img/caption3.jpg");
  flex: 1;
}

.images .center-background {
  background-size: cover;
  background-position: center;
}
.images .left:hover {
  filter: opacity(85%);
}
.images .right-top:hover {
  filter: opacity(85%);
}
.images .right-bottom:hover {
  filter: opacity(85%);
}

.imagescredits {
  margin-top: 15px;
  font-size: 12px;
  display: flex;
  justify-content: space-between;
  color: #414141;
}
.imagescredits p {
  color: #414141;
  background-color: #ff5d5d;
}
.imagescredits a {
  color: #414141;
  text-decoration: none;
}
.imagescredits p a:hover {
  color: #414141;
  text-decoration: underline;
}
h2 {
  margin-top: 40px;
  background-color: aquamarine;
  margin-bottom: 15px;
  font-family: Arial, Tahoma, Vera Sans;
  font-size: 28px;
  font-weight: bold;
  color: black;
}
.textcity {
  background-color: cadetblue;
  color: #333333;
  font-family: "Times New Roman", Times, serif;
  font-size: 20px;
}
/* Style du carrousel */
.carrousel {
  height: 300px;
  background-color: beige;
  display: flex;
  border: black solid 1px;
  flex-shrink: 0;
  gap: 15px;
}
.blockdetails {
  background-color: mistyrose;
}
.block {
  flex: 1;
  background-color: pink;
  display: flex;
  flex-direction: column;
}
.block .block-top {
  background-color: lightgreen;
  flex: 2;
  position: relative;
}
.block .block-top .heart {
  position: absolute;
  background-color: white;
  max-height: 25%;
  max-width: 25%;
  padding: 2px;
  top: 2%;
  right: 2%;
  border-radius: 50%;
}
.block .block-top .tripadgif {
  position: absolute;
  max-height: 33%;
  max-width: 33%;
  bottom: 2%;
  left: 2%;
  border-radius: 50%;
}
.block .block-bottom {
  flex: 1;
  background-color: blue;
}
.carrousel .block .block-bottom h4 {
  font-size: 20px;
  margin-bottom: 5px;
}
.carrousel .block .block-bottom p {
  font-size: 14px;
}
.carrousel .block-top:hover {
  filter: opacity(80%);
}
.carrousel .block-bottom .rate .logorated {
  max-height: 17px;
}
.numberrated {
  font-size: 14px;
}
